<p id="notice"><%= notice %></p>

<h3>심야생활 정보앱 - </h3>
<h1>밤이 좋아, 야호(夜好)</h1>

<hr>

<div class="container-fluid">
    
    <div class="row">
      <div class="filter-button-group">
        <!--<image class="btn-img" src="C:\Users\student\Downloads\PCqkd.jpg"><br></image>-->
        <a href="/cate/11">pc방</a>
        <a href="/cate/12">코인노래방</a>
        <a href="/cate/13">오락실/당구장/볼링장</a>
        <a href="/cate/14">만화카페/방탈출</a>
        <a href="/cate/15">영화관</a>
        <a href="/cate/16">클럽/나이트</a>
      </div>
    </div>
    
    <!--<div class="row">-->

    <!--      <div class="grid">-->

    <!--        <div class="grid-item personal col-md-3 col-sm-6 col-xs-12">-->
    <!--          <a href="boys-band.html" target="_blank">-->
    <!--            <img src="<#%= asset_path '7.jpg' %>" alt=""/>-->
    <!--            <div class="grid-item-hover">-->
    <!--              <span class="grid-item-hover-icon"></span>-->
    <!--              <span class="grid-item-hover-top">Personal</span>-->
    <!--              <span class="grid-item-hover-bg boysband"></span>-->
    <!--            </div>-->
    <!--          </a>-->
    <!--        </div>-->

    <!--        <div class="grid-item business col-md-3 col-sm-6 col-xs-12">-->
    <!--          <a href="agency.html" target="_blank">-->
    <!--            <img src="<#%= asset_path '1.jpg' %>" alt=""/>-->
    <!--            <div class="grid-item-hover">-->
    <!--              <span class="grid-item-hover-icon"></span>-->
    <!--              <span class="grid-item-hover-bottom">Business</span>-->
    <!--              <span class="grid-item-hover-bg agency"></span>-->
    <!--            </div>-->
    <!--          </a>-->
    <!--        </div>-->

    <!--        <div class="grid-item personal col-md-3 col-sm-6 col-xs-12">-->
    <!--          <a href="dj.html" target="_blank">-->
    <!--            <img src="<#%= asset_path '23.jpg' %>" alt=""/>-->
    <!--            <div class="grid-item-hover">-->
    <!--              <span class="grid-item-hover-icon"></span>-->
    <!--              <span class="grid-item-hover-bottom">Personal</span>-->
    <!--              <span class="grid-item-hover-bg dj"></span>-->
    <!--            </div>-->
    <!--          </a>-->
    <!--        </div>-->

    <!--        <div class="grid-item portfolio col-md-3 col-sm-6 col-xs-12">-->
    <!--          <a href="photographer-agency.html" target="_blank">-->
    <!--            <img src="<#%= asset_path '16.jpg' %>" alt=""/>-->
    <!--            <div class="grid-item-hover">-->
    <!--              <span class="grid-item-hover-icon"></span>-->
    <!--              <span class="grid-item-hover-bottom">Portfolio</span>-->
    <!--              <span class="grid-item-hover-bg photographyagency"></span>-->
    <!--            </div>-->
    <!--          </a>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--</div>-->
<div>
  
<!-- 놀기 페이지 -->
<!--<a href='/cate/11'>pc방</a>-->
<!--<a href='/cate/12'>코인노래방</a>-->
<!--<a href='/cate/13'>오락실/당구장/볼링장</a>-->
<!--<a href='/cate/14'>만화카페/방탈출</a>-->
<!--<a href='/cate/15'>영화관</a>-->
<!--<a href='/cate/16'>클럽/나이트</a>-->
<!--<hr>-->

<!-- 먹기 페이지 --> 
<a href='/cate/21'>카페</a>
<a href='/cate/22'>페스트푸드</a>
<a href='/cate/23'>논알콜 음식점</a>
<a href='/cate/24'>야시장</a></a>
<hr>

<!--마시기 페이지-->
<a href='/cate/31'>일반주점/호프</a>
<a href='/cate/32'>스몰비어</a>
<a href='/cate/33'>Bar/라운지바</a>
<a href='/cate/34'>이자카야</a>
<hr>

<br>
<!-- 생활 / 편의 cate 2 -->
<p><strong>생활 / 편의 cate 2</strong></p>
<a href='/cate/41'>의료</a>
<a href='/cate/42'>생활/금융</a>
<a href='/cate/43'>마트/편의점</a>
<a href='/cate/44'>헬스/스포츠</a>
<a href='/cate/45'>공공시설</a>
<hr>


<!-- 생활 / 편의 cate 3 -->
<a href='/cate/411'>응급실/약국</a>
<a href='/cate/412'>동물병원</a>

<a href='/cate/421'>빨래방</a>
<a href='/cate/422'>세차장</a>
<a href='/cate/423'>찜질방</a>
<a href='/cate/424'>숙박</a>
<a href='/cate/425'>ATM</a>

<a href='/cate/431'>마트</a>
<a href='/cate/432'>편의점</a>

<a href='/cate/441'>헬스장</a>
<a href='/cate/442'>수영장</a>

<a href='/cate/451'>공원</a>
<a href='/cate/452'>야외족욕/노천탕</a>
<a href='/cate/453'>야경명소</a>

<!--<#%= link_to '놀고 먹고 마시기', posts_nolmuckma_path %>-->
<!--<#%= link_to '생활 / 편의', 'posts/lifeconv' %>-->




<!--layout 모듈로 만들기!!!!!-->
<br>
<br>
<hr>