@import 'bootstrap.min';

#splash {
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: imageAnimation 3s linear; 
    &.pm {
        background: image-url('main_night_mobile.png') no-repeat center center / cover;
    }
    
    &.am {
        background: image-url('main_dawn_mobile.png') no-repeat center center / cover;
    }
}

@media screen and (min-width: 992px) {
    #splash{
        &.pm {
            background-image: image-url('main_night_web.png');
        }
        
        &.am {
            background-image: image-url('main_dawn_web.png');
        }
    }
}

@keyframes imageAnimation{
    0% { opacity: 1; }
    66% { opacity: 1; }
    100% { opacity: 0; }
}